
.logo-img {
    width: 50px;
    height: auto;
}

header {
    background-color: #333;
    color: white;
}

.about-text {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
}

HEAD
#bannerCarousel {
    max-width: 700px;
    margin-left: auto;
    margin-bottom: 20px;
}
#bannerCarousel img {
    height: auto;
    width: 100%;
    object-fit: cover;
}
#bannerCarousel .carousel-caption {
    bottom: 10%; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    border-radius: 5px;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.price {
    margin: 15px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.add-to-cart {
    padding: 10px 20px;
    background-color: #FF4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #e63900;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    width: 100%;
}

.footer-section a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-note {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

.animate__pulse {
    animation-duration: 1s;
}

.animate__fadeInDown {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.animate__fadeInUp {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@media (max-width: 1200px) {
    .product-card {
        flex: 1 1 calc(33.333% - 10px);
    }
    .row {
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 992px) {
    .product-card {
        flex: 1 1 calc(50% - 10px);
    }
    .row {
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(100% - 10px);
    }
    .row {
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 576px) {
    .product-card {
        flex: 1 1 calc(100% - 10px);
    }
    .row {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}

.carousel-and-products {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.products-container {
    flex: 1;
}
